/* src/components/Layout.css */
.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .app-header {
    padding: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.205);
    backdrop-filter: blur(8px);
    border-bottom: 1px solid var(--glass-border);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  .header-logo {
    height: 100px;
    max-width: 100%;
    object-fit: contain;
    outline: white;
    position: left;
    margin: 0 auto;
    padding: 0 0px;
  }
  .event-logo {
    height: 100px;
    max-width: 100%;
    object-fit: contain;
    outline: white;
    position: left;
    margin: 0 auto;
    padding: 0 0px;
  }
  
  .app-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 60px; /* Adjust based on header height */
    margin-bottom: 40px; /* Adjust based on footer height */
  }
  
  .app-footer {
    padding: 6px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.418);
    backdrop-filter: blur(8px);
    border-top: 1px solid var(--glass-border);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .powered-by {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: rgb(0, 0, 0);
  }
  
  .sponsor-logo {
    height: 40px;
    object-fit: contain;
  }
  
  @media (max-width: 768px) {
    .event-logo {
      height: 40px;
    }
    
    .sponsor-logo {
      height: 20px;
    }
  }